body.main-body-image {
    background-image: url("#{resource['/images/background.jpg']}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gradient-logo-background {
    background: rgb(252, 252, 252);
    background: -moz-linear-gradient(90deg, rgba(252, 252, 252, 1) 63%, #3e464c 100%);
    background: -webkit-linear-gradient(90deg, rgba(252, 252, 252, 1) 63%, #3e464c 100%);
    background: linear-gradient(90deg, rgba(252, 252, 252, 1) 63%, #3e464c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#3e464c", GradientType=1);
}


.logo {
    width: 350px !important;
    text-align: left !important;
}

.layout-wrapper .topbar .logo img {
    width: 210px !important;
    margin-top: 1px !important;
}

.panelInfoLogin {
    margin-top: 90px;
    max-width: 650px;
    height: 455px;
    border-radius: 20px;
    opacity: 1;
}

.menuWithMarginCRUD {
    margin-left: 30px;
    /* margin-bottom:47px; */
}

.menuWithMargin {
    margin-top: 15px;
    margin-left: 5px;
}


.page-name-style {
    font-size: 46px !important;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.title-page-style {
    margin: 5px 30px !important;
}

.panelText {
    margin-top: 30px
}

.panel500 {
    overflow-y: auto;
    height: 500px;
    width: 950px;
}

.panel550 {
    overflow-y: auto;
    min-width: 300px;
    height: 550px;
    max-width: 950px;
}


.padding-top-bottom-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.panel200 {
    overflow-y: auto;
    min-width: 300px;
    height: 200px;
    max-width: 600px;
}


.panel300 {
    overflow-y: auto;
    min-width: 300px;
    height: 300px;
    max-width: 600px;
}

.panel350 {
    overflow-y: auto;
    min-width: 350px;
    height: 350px;
    max-width: 650px;
}

.crud-buttons {
    margin: 0 5px;
}


body .ui-panelgrid tbody tr.ui-widget-content .noBorderPanel {
    border: 0px !important;
}

body .ui-widget-content .noBorderPanel {
    border: 0px !important;
}

body .ui-panelgrid .noBorderPanel {
    border: 0px !important;
}

.noBorderPanel.ui-panelgrid > * > tr, .noBorderPanel.ui-panelgrid .ui-panelgrid-cell {
    border: none !important;
}

.ui-panelgrid-content .ui-widget-content .ui-grid .ui-grid-responsive.noBorderPanel {
    border: none !important;
}

.noBorderPanel td {
    border-style: hidden !important;
}

body .ui-message.ui-message-error {
    background-color: white;
    border-color: white;
    color: #e62a10;
}

.selectedLang {
    border: 2px solid white;
}
