.btnCreate {
    border-radius: 0px;
    background-image: url("#{resource['images/create.png']}") !important;
    width: 26px;
    height: 26px;
    background-position: 0px 0px;
}

.iconOnlyButton{
    background: transparent !important;
    border: none !important;
    margin-right: 40%;
}

.fixed-size {
    table-layout: fixed;
    word-wrap: break-word;
}

.dashboard_extra_big_bold_font {
	font-size: 30px !important;
	color: white !important;
	font-weight: bold !important;
}

.dashboard_big_bold_font {
	font-size: 25px !important;
	color: white !important;
	font-weight: bold !important;
}

.dashboard_big_font {
	font-size: 25px !important;
	color: white !important;
}


.dashboard_small_font {
	font-size: 15px !important;
	color: white !important;
}

.dashboard_info_color {
	background: #239a98 !important;
	border: 1px solid lightgrey;
}

.dashboard_task_color {
	background: #0f7782 !important;
	border: 1px solid lightgrey;
}

.dashboard_name_color {
	background: #0ea385 !important;
	border: 1px solid lightgrey;
}
.dashboard_total_color{
	background: #4b7162 !important;
	border: 1px solid lightgrey;
}

.dashboard_start_activity_color{
	background: #23a150 !important;
	border: 1px solid lightgrey;
}

.dashboard_stop_activity_color{
	/* background: #ff3333!important;
	 */border: 1px solid lightgrey;
	 background: #4b7162!important;
}
.dashboard_no_padding_div {
	padding: 0 !important;
}

.dashboard_middle_align {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard_0_5_row_span{
	height:30px
}

.dashboard_1_row_span{
	height:40px
}
.dashboard_2_rows_span {
	height: 55px;
}

.dashboard_3_rows_span {
	height: 60px;
}
.dashboard_grid_display{
	display:grid;
}

.dashboard_start_button{
	border-radius: 50%!important;
    width: 50px!important;
    height: 50px!important;
    background: #23a150!important;
    border: 10px solid white!important;
}
body .ui-button.ui-state-focus .dashboard_start_button{
	border:0px!imporant;
}
body .ui-state-active, body .ui-state-highlight .dashboard_start_button{
	background-color: transparent;
}

.dashboard_start_button:focus{
  outline: none!important;
}

.dashboard_stop_button{
	border-radius: 50%!important;
    width: 50px!important;
    height: 50px!important;
    background: #ff3333!important;
    border: 10px solid #ff3333!important;
}
body .ui-button.ui-state-focus .dashboard_stop_button{
	border:0px!imporant;
}
body .ui-state-active, body .ui-state-highlight .dashboard_stop_button{
	background-color: transparent;
}

.dashboard_stop_button:focus{
  outline: none!important;
}
