<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pa="http://primefaces.org/barcelona">

    <div class="layout-sidebar#{guestPreferences.darkMenu ? 'layout-sidebar-dark': ''}">

        <pa:tabMenu>
            <pa:tab icon="people" title="#{msgs.menu_users}">
                <h:form id="info-form">
                    <pa:menu widgetVar="us">
                        <p:menuitem id="users" value="#{msgs.menu_users}" icon="people"
                                    outcome="/Users"/>
                    </pa:menu>
                </h:form>
            </pa:tab>

            <pa:tab icon="fa fa-plus-square" title="#{msgs.menu_tab_create_task}">
                <h:form id="task-form">
                    <pa:menu widgetVar="us">
                        <p:menuitem id="task" value="#{msgs.menu_tab_create_task}"
                                    outcome="/TaskCreation"/>
                    </pa:menu>
                </h:form>
            </pa:tab>

            <pa:tab icon="fa fa-object-group" title="#{msgs.menu_tab_tpm_status}">
                <h:form id="task_list-form">
                    <pa:menu widgetVar="us">
                        <p:menuitem id="task_list" value="#{msgs.menu_tab_task_list}"
                                    outcome="/TaskList"/>
                    </pa:menu>
                </h:form>
            </pa:tab>

            <pa:tab icon="fa fa-pie-chart" title="#{msgs.menu_tab_kpi}">

            </pa:tab>

            <pa:tab icon="fa fa-pencil-square-o" title="#{msgs.menu_tab_edit_structure}">

            </pa:tab>

            <pa:tab icon="fa fa-user" title="#{msgs.menu_tab_user}">

            </pa:tab>

            <pa:tab icon="fa fa-tasks" title="#{msgs.menu_tab_task_allocation}">

            </pa:tab>

            <pa:tab icon="fa fa-stack-exchange" title="#{msgs.menu_tab_changelog}">

            </pa:tab>

        </pa:tabMenu>
    </div>
</ui:composition>
