<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<f:view locale="#{loginController.langBean.locale}">
    <h:head>
        <!--    <link rel="shortcut icon" type="image/x-icon"
                  href="#{request.contextPath}/resources/images/favicon.ico"/>-->

        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport"
                  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes"/>
        </f:facet>
        <title><ui:insert name="title">TPMSystemSoftware</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="barcelona-layout"/>
        <h:outputScript name="js/layout.js" library="barcelona-layout"/>
        <h:outputScript name="js/ripple.js" library="barcelona-layout"/>
        <h:outputScript name="js/jquery.floatingscroll.min.js" library="barcelona-layout"/>

        <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100'
              rel='stylesheet' type='text/css'/>


        <h:outputStylesheet library="css" name="main.css"/>

        <ui:insert name="head"/>
    </h:head>

    <h:body styleClass="main-body">
        <div class="layout-wrapper">
            <c:if test="#{loginController.isLoggedIn()}">
                <ui:include src="./topbar.xhtml">
                    <ui:param name="controller" value="#{loginController}"/>

                </ui:include>

                <ui:include src="./menu.xhtml"/>
            </c:if>

            <c:choose>
                <c:when test="#{not loginController.isLoggedIn()}">
                    <div class="layout-main" style="margin: 0 auto; padding-top: 60px;">
                        <div class="layout-main-content">
                            <ui:insert name="content"/>

                        </div>
                    </div>
                </c:when>
                <c:otherwise>
                    <div class="layout-main">
                        <div class="layout-main-content">
                            <ui:insert name="content"/>

                        </div>
                    </div>
                </c:otherwise>
            </c:choose>
        </div>


        <p:ajaxStatus
                style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <i class="fa fa-circle-o-notch fa-spin ajax-loader"
                   aria-hidden="true"></i>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value=""/>
            </f:facet>
        </p:ajaxStatus>

        <h:outputStylesheet name="css/jquery.floatingscroll.css" library="barcelona-layout"/>
        <h:outputStylesheet name="css/nanoscroller.css"
                            library="barcelona-layout"/>
        <h:outputStylesheet name="css/animate.css" library="barcelona-layout"/>
        <h:outputStylesheet name="css/ripple.css" library="barcelona-layout"/>
        <h:outputStylesheet name="css/layout-dark-blue.css"
                            library="barcelona-layout"/>
    </h:body>
</f:view>
</html>
