<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">

    <ui:param name="controllerName" value="#{loginController}"/>

    <div class="topbar clearfix">
        <div class="topbar-left">
            <p:graphicImage name="images/logo-wee.png" library="avalon-layout" styleClass="topbar-logo"/>
        </div>

        <div class="topbar-right">

            <a id="topbar-menu-button" href="#">
                <i class="fa fa-bars"/>
            </a>
            <ul class="topbar-items fadeInDown animated">

                <li class="search-item">
                    <p:commandButton value="#{msgs.logout}" rendered="#{controllerName.isLoggedIn()}"
                                     actionListener="#{controllerName.logout}" styleClass="logout_button"
                                     icon="out_icon"
                    />
                </li>


                <li class="search-item">
                    <h:form>
                        <p:commandLink action="#{controllerName.langBean.changeLocaleByFlag('English')}"
                                       ajax="false">
                            <p:graphicImage
                                    id="flag_en"
                                    name="flag_en.png" library="images"/>
                        </p:commandLink>

                        <p:commandLink action="#{controllerName.langBean.changeLocaleByFlag('Romanian')}"
                                       ajax="false">
                            <p:graphicImage
                                    id="flag_ro_RO"
                                    name="flag_ro_RO.png" library="images"/>
                        </p:commandLink>
                    </h:form>
                </li>

            </ul>
        </div>
    </div>

</ui:composition>
