<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>
    <h:form rendered="#{controller.isLoggedIn()}">
        <ui:param name="languageSelection" value="true"/>
        <p:growl id="messages" showDetail="true" showSummary="false"
                 binding="#{loginController.messagesGrowl}"/>
        <div class="topbar">
            <div class="logo gradient-logo-background">
                <h:link outcome="/index">
                    <p:graphicImage name="logoJS.png" library="images" styleClass="topbar-logo"
                                    width="210" height="55"
                    />
                </h:link>
            </div>

            <a id="topbar-menu-button" href="#">
                <i class="fa fa-bars"></i>
            </a>

            <ul class="topbar-menu fadeInDown animated">

                <li class="search-item">
                    <p:commandButton value="Logout" rendered="#{loginController.isLoggedIn()}"
                                     actionListener="#{controller.logout}" styleClass="logout_button"
                                     icon="fa fa-sign-out"
                    />
                </li>

                <li class="search-item">
                    <p:outputLabel
                            value="#{loginController.loggedInUser.first_name} #{loginController.loggedInUser.last_name}"
                            rendered="#{loginController.isLoggedIn()}"
                    />
                </li>
                <!-- <li class="search-item">-->

                <!--      <h:form>-->
                <p:commandLink action="#{controller.langBean.changeLocaleByFlag('en')}" ajax="false">
                    <p:graphicImage
                            id="flag_en"
                            name="flag_en.png" library="images"
                            style="margin-top: 5px; margin-left: 10px"
                            styleClass="#{ controller.langBean.localeCode eq 'en' ? 'selectedLang' :'none'}"
                    />
                    <f:ajax listener="#{controller.langBean.changeLocaleByFlag('en')}"/>
                </p:commandLink>

                <p:commandLink action="#{controller.langBean.changeLocaleByFlag('ro_RO')}" ajax="false">
                    <p:graphicImage
                            id="flag_ro_RO"
                            name="flag_ro_RO.png" library="images"
                            style="margin-top: 5px; margin-left: 10px"
                            styleClass="#{ controller.langBean.localeCode eq 'ro_RO' ? 'selectedLang': 'none'}"
                    />
                    <f:ajax listener="#{controller.langBean.changeLocaleByFlag('ro_RO')}"/>
                </p:commandLink>

                <p:commandLink action="#{controller.langBean.changeLocaleByFlag('hu_HU')}" ajax="false">
                    <p:graphicImage
                            id="flag_hu_HU"
                            name="flag_hu_HU.png" library="images"
                            style="margin-top: 5px; margin-left: 10px"
                            styleClass="#{ controller.langBean.localeCode eq 'hu_HU' ? 'selectedLang': 'none'}"
                    />
                    <f:ajax listener="#{controller.langBean.changeLocaleByFlag('hu_HU')}"/>
                </p:commandLink>
                <!--  </h:form>-->

                <!--        </li>-->
            </ul>
        </div>
    </h:form>
</ui:composition>
