<ui:composition template="/WEB-INF/templateContentOnlyBG.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">#{msgs.failed_title}</ui:define>
    <ui:define name="content">

        <p:panel id="basicLogged" style="text-align: center; margin-left:auto;margin-right: auto"
                 styleClass="panelInfoLogin">

            <div class="ui-g-12" style="margin-top:15px;text-align: left">
                <div class="ui-g-6">
                    <p:graphicImage name="logoJS.png" library="images"
                                    width="210" height="55"/></div>
                <div class="ui-g-6" style="    padding-top: 17px;    height: 78px;">
                    <p:outputLabel value="TPM - "
                                   style=" font-size: 20px;letter-spacing: 1px; margin-right:5px;
                                       font-weight:300; color:#2f4050; "/>
                    <p:outputLabel value="System Software"
                                   style="font-size: 20px;letter-spacing:3px;
                                       color:#2f4050; font-weight: bolder;font-style: italic"/></div>
            </div>
            <h:form id="alreadyLogged" styleClass="loginPanelStyle">
                <div class="ui-g-12">
                    <p:outputLabel rendered="#{loginController.error_message == null}"
                                   value="#{msgs.error_message_not_registered}"
                                   styleClass="failedText"
                                   style="  font-size:28px!important; font-weight:200!important;"/>
                    <p:outputLabel rendered="#{loginController.error_message != null}"
                                   value="#{loginController.error_message}"
                                   styleClass="failedText"
                                   style="  font-size:28px!important; font-weight:200!important;"/>

                </div>

                <div class="ui-g-12" style="margin-top: 70px;">
                    <p:commandLink id="logout" styleClass="registerLink"
                                   actionListener="#{loginController.logout}">
                        <h:outputText value="#{msgs.failed_btn_back}"
                                      style="font-size:14px; font-weight:bold;"/>
                    </p:commandLink>
                </div>
            </h:form>
        </p:panel>

    </ui:define>
</ui:composition>
