<ui:composition template="/WEB-INF/template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
>

    <ui:define name="title">#{msgs.AppName}</ui:define>
    <ui:define name="content">
    </ui:define>
</ui:composition>
