<ui:composition template="/WEB-INF/template-login.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="metadata">
        <f:metadata>
        </f:metadata>
    </ui:define>

    <ui:define name="title">#{msgs.Login}</ui:define>

    <ui:param name="controllerName" value="#{loginController}"/>
    <ui:param name="buttonVisibilityMethod" value="isButtonVisible"/>

    <!-- MAIN CONTENT PANEL -->
    <ui:define name="content" style="text-align:center">
        <div style="text-align: center">
            <c:if test="#{not controllerName.isLoggedIn()}">

                <!-- header="#{msgs.login}"-->
                <p:panel id="logged" style="margin-left:auto; margin-right: auto; text-align: center"

                         styleClass="panelInfoLogin">

                    <div class="ui-g-12" style="margin-top:15px;text-align: left">
                        <div class="ui-g-6">
                            <p:graphicImage name="logoJS.png" library="images"
                                            width="210" height="55"/></div>
                        <div class="ui-g-6" style="    padding-top: 17px;    height: 78px;">
                            <p:outputLabel value="TPM - "
                                           style=" font-size: 20px;letter-spacing: 1px; margin-right:5px;
                                       font-weight:bolder; color:#2f4050;font-style: italic "/>
                            <p:outputLabel value="System Software"
                                           style="font-size: 20px;letter-spacing:3px;
                                       color:#2f4050; font-weight: bolder;font-style: italic"/></div>
                    </div>

                    <h:form id="loginForm" styleClass="loginPanelStyle" style="margin:auto">

                        <div class="ui-g-12" style="font-size:35px;">
                            <h:outputText value="#{msgs.username} : "/>
                        </div>
                        <div class="ui-g-12" style="font-size:45px">
                            <p:outputLabel id="username"
                                           value="#{controllerName.windowsAuthUser}">
                            </p:outputLabel>

                        </div>

                        <div class="ui-g-12">
                            <p:commandButton value="#{msgs.loginBtn}" update="messagesLogin"
                                             rendered="#{controllerName.userAuth}"
                                             action="#{controllerName.login}" type="submit" ajax="false"
                                             icon="fa fa-sign-in" styleClass="login_button">
                            </p:commandButton>

                            <p:outputLabel id="auth" value="#{msgs.authenticationImpossible}"
                                           rendered="#{!controllerName.userAuth}"
                                           style="font-weight:bold;font-size:15px!important;">
                            </p:outputLabel>
                        </div>
                    </h:form>


                </p:panel>
            </c:if>
        </div>

    </ui:define>
</ui:composition>

