<ui:composition template="/WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">#{msgs.AppName}</ui:define>
    <ui:define name="content">


        <h:form id="text">
            <!-- style="text-align:left; margin: 30px 60px;" -->
            <div class="ui-g title-page-style">
                <div class="ui-g-12 ui-md-6 ui-lg-6 no-padding" style="text-align: left">
                    <h:outputText value="#{msgs.task_list_title}"
                                  styleClass="page-name-style">
                    </h:outputText>
                </div>

            </div>
        </h:form>


        <h:form id="crudMenu" styleClass="menuWithMarginCRUD">
            <div class="ui-g">

                <p:commandButton id="close" icon="fa fa-times"
                                 onclick="PF('addUserWidget').show()"
                                 actionListener="#{usersController.initializeAddUser}"
                                 update=":addUserForm"
                                 disabled="#{usersController.selectionList==null ||
                                 usersController.selectionList.size() > 1 ||
                                 usersController.selectionList.size() lt 1}"
                                 styleClass="crud-buttons" value="#{msgs.task_close_btn}"/>

                <p:commandButton id="edit" icon="fa fa-edit"
                                 onclick="PF('editUserWidget').show()"
                                 update=":editUserForm"
                                 actionListener="#{usersController.initializeEditUser}"
                                 disabled="#{usersController.selectionList==null ||
                                 usersController.selectionList.size() > 1 ||
                                 usersController.selectionList.size() lt 1}"
                                 styleClass="crud-buttons" value="#{msgs.task_edit_btn}"/>

                <p:commandButton id="archive" icon="fa fa-archive"
                                 onclick="PF('addUserWidget').show()"
                                 actionListener="#{usersController.initializeAddUser}"
                                 disabled="#{usersController.selectionList==null ||
                                 usersController.selectionList.size() > 1 ||
                                 usersController.selectionList.size() lt 1}"
                                 update=":addUserForm"
                                 styleClass="crud-buttons" value="#{msgs.task_archive_btn}"/>

                <p:commandButton id="photos" icon="fa fa-file-image-o"
                                 onclick="PF('addUserWidget').show()"
                                 actionListener="#{usersController.initializeAddUser}"
                                 disabled="#{usersController.selectionList==null ||
                                 usersController.selectionList.size() > 1 ||
                                 usersController.selectionList.size() lt 1}"
                                 update=":addUserForm"
                                 styleClass="crud-buttons" value="#{msgs.task_photo_btn}"/>

                <p:commandButton id="changelog" icon="fa fa-stack-exchange"
                                 onclick="PF('addUserWidget').show()"
                                 actionListener="#{usersController.initializeAddUser}"
                                 disabled="#{usersController.selectionList==null ||
                                 usersController.selectionList.size() > 1 ||
                                 usersController.selectionList.size() lt 1}"
                                 update=":addUserForm"
                                 styleClass="crud-buttons" value="#{msgs.task_changelog_btn}"/>
            </div>
        </h:form>

        <h:form id="MainForm" styleClass="menuWithMargin">

            <p:growl id="messages" showDetail="true" showSummary="false"
                     binding="#{usersController.messagesGrowl}"/>

            <p:dataTable var="ms" value="#{usersController.datasource}" style="margin-bottom:40px"
                         rows="10"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                         rowsPerPageTemplate="5,10,15,25"
                         selectionMode="multiple" selection="#{usersController.selectionList}"
                         rowKey="#{ms.user_id}"
                         paginatorPosition="bottom"
                         rowIndexVar="rowIndex">


                <p:ajax event="rowSelect"
                        listener="#{usersController.selectionListener}"
                        update=" :MainForm:messages :crudMenu"/>


                <p:column headerText="#{msgs.Column_NrCrt}" width="50">
                    #{rowIndex+1}
                </p:column>

                <p:column headerText="#{msgs.header_username}" sortBy="#{ms.username}" filterBy="#{ms.username}"
                          filterMatchMode="contains">
                    <h:outputText value="#{ms.username}"/>
                </p:column>


                <p:column headerText="#{msgs.header_first_name}" sortBy="#{ms.first_name}" filterBy="#{ms.first_name}"
                          filterMatchMode="contains">
                    <h:outputText value="#{ms.first_name}"/>
                </p:column>

                <p:column headerText="#{msgs.header_last_name}" sortBy="#{ms.last_name}" filterBy="#{ms.last_name}"
                          filterMatchMode="contains">
                    <h:outputText value="#{ms.last_name}"/>
                </p:column>

                <p:column headerText="#{msgs.header_status}" sortBy="#{ms.status}" filterBy="#{ms.status}"
                          filterMatchMode="contains">
                    <h:outputText value="#{ms.status}"/>
                </p:column>

                <p:column headerText="#{msgs.header_role}" sortBy="#{ms.role}" filterBy="#{ms.role}"
                          filterMatchMode="contains">
                    <h:outputText value="#{ms.role}"/>
                </p:column>

                <p:column headerText="#{msgs.header_insert_date}" sortBy="#{ms.insert_date}"
                          filterBy="#{ms.insert_date}"
                          filterMatchMode="contains">
                    <h:outputText value="#{usersController.formatDate(ms.insert_date)}"/>
                </p:column>

                <p:column headerText="#{msgs.header_update_date}" sortBy="#{ms.update_date}"
                          filterBy="#{ms.update_date}"
                          filterMatchMode="contains">
                    <h:outputText value="#{usersController.formatDate(ms.update_date)}"/>
                </p:column>


            </p:dataTable>
        </h:form>


        <p:dialog modal="true" appendTo="@(body)" closeOnEscape="true"
                  header="#{msgs.disable_user_header}"
                  widgetVar="disableUserWidget" resizable="false"
                  id="CRUD_disableUser">
            <p:outputPanel styleClass="panel200"
                           style="text-align:center;"
                           id="disableUserPanel">
                <h:form id="disableUserForm">

                    <div class="ui-g-12"><p:outputLabel style="font-size: 25px"
                                                        value="#{msgs.disable_are_you_sure}"/>
                    </div>
                    <div class="ui-g-12">
                        <p:outputLabel style="font-size:20px; font-weight: bold; letter-spacing: 1px"
                                       value="#{msgs.selected_user} #{usersController.selectionList[0].username}
                                       (#{usersController.selectionList[0].first_name} #{usersController.selectionList[0].last_name})"/>
                    </div>
                    <div class="ui-g-12">

                        <div class="ui-g-6">
                            <p:commandButton id="disableBtn"
                                             value="#{msgs.disable_user_btn}"
                                             widgetVar="disableUserBtnWidget"
                                             actionListener="#{usersController.disableUser}"
                                             oncomplete="PF('disableUserWidget').hide()"
                                             onclick="PF('disableUserBtnWidget').disable();"
                                             update=":MainForm :crudMenu"
                                             icon="fa fa-check"/>
                        </div>
                        <div class="ui-g-6">
                            <p:commandButton id="cancelDisableBtn"
                                             value="#{msgs.cancel}"
                                             onclick="PF('disableUserWidget').hide();"
                                             update=":MainForm :crudMenu"
                                             icon="fa fa-check"/>
                        </div>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>


        <p:dialog modal="true" appendTo="@(body)" closeOnEscape="true"
                  header="#{msgs.enable_user_header}"
                  widgetVar="enableUserWidget" resizable="false"
                  id="CRUD_enableUser">
            <p:outputPanel styleClass="panel200"
                           style="text-align:center;"
                           id="enableUserPanel">
                <h:form id="enableUserForm">

                    <div class="ui-g-12"><p:outputLabel style="font-size: 25px"
                                                        value="#{msgs.enable_are_you_sure}"/>
                    </div>
                    <div class="ui-g-12">
                        <p:outputLabel style="font-size:20px; font-weight: bold; letter-spacing: 1px"
                                       value="#{msgs.selected_user} #{usersController.selectionList[0].username}
                                       (#{usersController.selectionList[0].first_name} #{usersController.selectionList[0].last_name})"/>
                    </div>
                    <div class="ui-g-12">

                        <div class="ui-g-6">
                            <p:commandButton id="enableBtn"
                                             value="#{msgs.enable_user_btn}"
                                             widgetVar="enableUserBtnWidget"
                                             actionListener="#{usersController.enableUser}"
                                             oncomplete="PF('enableUserWidget').hide()"
                                             onclick="PF('enableUserBtnWidget').disable();"
                                             update=":MainForm :crudMenu"
                                             icon="fa fa-check"/>
                        </div>
                        <div class="ui-g-6">
                            <p:commandButton id="cancelEnableBtn"
                                             value="#{msgs.cancel}"
                                             onclick="PF('enableUserWidget').hide();"
                                             update=":MainForm :crudMenu"
                                             icon="fa fa-check"/>
                        </div>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

        <p:dialog modal="true" appendTo="@(body)" closeOnEscape="true"
                  header="#{msgs.add_user_header}" dynamic="true"
                  widgetVar="addUserWidget" resizable="false"
                  id="CRUD_addUser">
            <p:outputPanel styleClass="panel400"
                           style="text-align:center;"
                           id="addUserPanel">
                <h:form id="addUserForm">

                    <p:panelGrid style="border-spacing:25px!important; width:100%" styleClass="noBorderPanel">

                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_username}: "
                                               for="usernameAdd"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="usernameAdd" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.newUser.username}"
                                                 required="true" requiredMessage="#{msgs.required_username}">
                                        <f:validator binding="#{userNameAvailableValidator}"/>
                                        <f:ajax event="blur" render="usernameMsj"/>
                                        <p:ajax update="addUserBtn"/>
                                    </p:inputText>
                                    <p:message for="usernameAdd" id="usernameMsj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_first_name}: "
                                               for="firstnameAdd"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="firstnameAdd" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.newUser.first_name}"
                                                 required="true" requiredMessage="#{msgs.required_firstname}">
                                        <f:ajax event="blur" render="firstnamedMsj"/>
                                        <p:ajax update="addUserBtn"/>
                                    </p:inputText>
                                    <p:message for="firstnameAdd" id="firstnamedMsj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_last_name}: "
                                               for="lastnameAdd"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="lastnameAdd" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.newUser.last_name}"
                                                 required="true" requiredMessage="#{msgs.required_lastname}">
                                        <f:ajax event="blur" render="lastnameMsj"/>
                                        <p:ajax update="addUserBtn"/>
                                    </p:inputText>
                                    <p:message for="lastnameAdd" id="lastnameMsj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_email}: "
                                               for="emailAdd"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="emailAdd" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.newUser.email}"
                                                 required="false">
                                        <f:ajax event="blur" render="emailMsj"/>
                                    </p:inputText>
                                    <p:message for="emailAdd" id="emailMsj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_role}: "
                                               for="roleAdd"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="roleAdd" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.newUser.role_int}"
                                                 required="true" requiredMessage="#{msgs.required_role}">
                                        <f:ajax event="blur" render="roleMsj"/>
                                        <p:ajax update="addUserBtn"/>
                                    </p:inputText>
                                    <p:message for="roleAdd" id="roleMsj" display="text"/>
                                </div>
                            </p:column>
                            <!--                            <p:column>-->
                            <!--                                <p:outputLabel value="#{msgs.header_role}: "-->
                            <!--                                               for="emailAdd"/></p:column>-->
                            <!--                            <p:column>-->
                            <!--                                <div style="display: flex; flex-direction: column">-->
                            <!--                                    <h:selectOneMenu id="roleAdd" value="#{usersController.newUser.role}">-->
                            <!--                                        <f:selectItems value="#{usersController.get[0]}}"/>-->
                            <!--                                        <f:selectItem itemValue="Buena Vista" itemLabel="Coffee3 - Buena Vista" />-->
                            <!--                                        <f:ajax event="blur" render="roleMsj"/>-->
                            <!--                                        <p:ajax update="addUserBtn"/>-->
                            <!--                                    </h:selectOneMenu>-->
                            <!--                                </div>-->
                            <!--                            </p:column>-->
                        </p:row>
                    </p:panelGrid>

                    <p:commandButton id="addUserBtn"
                                     value="#{msgs.add_user_btn}"
                                     widgetVar="addUserBtnWidget"
                                     actionListener="#{usersController.addUser}"
                                     oncomplete="PF('addUserBtnWidget').enable(); if (args &amp;&amp; !args.validationFailed) PF('addUserWidget').hide()"
                                     onclick="PF('addUserBtnWidget').disable();"
                                     update=":MainForm :crudMenu addUserBtn"
                                     icon="fa fa-check"/>
                </h:form>
            </p:outputPanel>
        </p:dialog>


        <p:dialog modal="true" appendTo="@(body)" closeOnEscape="true"
                  header="#{msgs.edit_user_header}"
                  widgetVar="editUserWidget" resizable="false"
                  id="CRUD_editUser">
            <p:outputPanel styleClass="panel300"
                           style="text-align:center;"
                           id="editUserPanel">
                <h:form id="editUserForm">

                    <p:panelGrid style="border-spacing:25px!important; width:100%" styleClass="noBorderPanel">

                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_username}: "
                                               for="usernameEdit"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="usernameEdit" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.editUser.username}"
                                                 required="true" requiredMessage="#{msgs.required_username}">

                                        <f:ajax event="blur" render="username2Msj"/>
                                        <p:ajax update="editUserBtn"/>
                                    </p:inputText>
                                    <p:message for="usernameEdit" id="username2Msj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_first_name}: "
                                               for="firstnameEdit"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="firstnameEdit" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.editUser.first_name}"
                                                 required="true" requiredMessage="#{msgs.required_firstname}">
                                        <f:ajax event="blur" render="firstnamed2Msj"/>
                                        <p:ajax update="editUserBtn"/>
                                    </p:inputText>
                                    <p:message for="firstnameEdit" id="firstnamed2Msj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_last_name}: "
                                               for="lastnameEdit"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="lastnameEdit" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.editUser.last_name}"
                                                 required="true" requiredMessage="#{msgs.required_lastname}">
                                        <f:ajax event="blur" render="lastname2Msj"/>
                                    </p:inputText>
                                    <p:message for="lastnameEdit" id="lastname2Msj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_email}: "
                                               for="emailEdit"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="emailEdit" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.editUser.email}"
                                                 required="false">
                                        <f:ajax event="blur" render="email2Msj"/>

                                    </p:inputText>
                                    <p:message for="emailEdit" id="email2Msj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <p:commandButton id="editUserBtn"
                                     value="#{msgs.edit_user_btn}"
                                     widgetVar="editUserBtnWidget"
                                     actionListener="#{usersController.updateUser}"
                                     oncomplete="PF('editUserBtnWidget').enable();if (args &amp;&amp; !args.validationFailed) PF('editUserWidget').hide()"
                                     onclick="PF('editUserBtnWidget').disable();"
                                     update=":MainForm :crudMenu editUserBtn"
                                     icon="fa fa-check"/>

                </h:form>
            </p:outputPanel>
        </p:dialog>

        <p:dialog modal="true" appendTo="@(body)" closeOnEscape="true"
                  header="#{msgs.edit_user_role}"
                  widgetVar="editUserRoleWidget" resizable="true"
                  id="CRUD_editUserRole">
            <p:outputPanel styleClass="panel200"
                           style="text-align:center;"
                           id="editUserRolePanel">
                <h:form id="editUserRoleForm">

                    <p:panelGrid style="border-spacing:25px!important; width:100%" styleClass="noBorderPanel">

                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_username}: "
                                               for="usernameEditRole"/>
                            </p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="usernameEditRole" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.editUserRole.username}"
                                                 required="true" requiredMessage="#{msgs.required_username}">

                                        <f:ajax event="blur" render="username2MsjRole"/>
                                        <p:ajax update="editUserRoleBtn"/>
                                    </p:inputText>
                                    <p:message for="usernameEditRole" id="username2MsjRole" display="text"/>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_role}: "
                                               for="roleEdit"/>
                            </p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="roleEdit" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.editUserRole.role_int}"
                                                 required="true" requiredMessage="#{msgs.required_username}">

                                        <f:ajax event="blur" render="role2Msj"/>
                                        <p:ajax update="editUserRoleBtn"/>
                                    </p:inputText>
                                    <p:message for="roleEdit" id="role2Msj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <p:commandButton id="editUserRoleBtn"
                                     value="#{msgs.edit_user_btn}"
                                     widgetVar="editUserRoleBtnWidget"
                                     actionListener="#{usersController.updateUserRole}"
                                     oncomplete="PF('editUserRoleBtnWidget').enable();if (args &amp;&amp; !args.validationFailed) PF('editUserRoleWidget').hide()"
                                     onclick="PF('editUserRoleBtnWidget').disable();"
                                     update=":MainForm :crudMenu editUserRoleBtn"
                                     icon="fa fa-check"/>
                </h:form>
            </p:outputPanel>
        </p:dialog>
    </ui:define>
</ui:composition>
