<ui:composition template="/WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:define name="title">#{msgs.AppName}</ui:define>
    <ui:define name="content">



        <h:form id="text">
            <!-- style="text-align:left; margin: 30px 60px;" -->
            <div class="ui-g title-page-style">
                <div class="ui-g-12 ui-md-6 ui-lg-6 no-padding" style="text-align: left">
                    <h:outputText value="#{msgs.create_task_title}"
                                  styleClass="page-name-style">
                    </h:outputText>
                </div>

            </div>
        </h:form>

        <h:form id="crudMenu" styleClass="menuWithMarginCRUD">
            <div class="ui-g">

<!--                <p:commandButton id="addTask" icon="fa fa-plus"-->
<!--                                 onclick="PF('addUserWidget').show()"-->
<!--                                 actionListener="#{usersController.initializeAddUser}"-->
<!--                                 update=":addUserForm"-->
<!--                                 styleClass="crud-buttons" value="#{msgs.task_create_btn}"/>-->

<!--                <p:commandButton id="edit" icon="fa fa-edit"-->
<!--                                 onclick="PF('editUserWidget').show()"-->
<!--                                 update=":editUserForm"-->
<!--                                 actionListener="#{usersController.initializeEditUser}"-->
<!--                                 styleClass="crud-buttons" value="#{msgs.task_edit_btn}"/>-->
            </div>
        </h:form>

        <br/><br/>

        <div class="card">

            <h:form>
                <p:messages/>

                <h:panelGrid columns="4" cellpadding="6"  styleClass="ui-g-12">

                    <p:outputLabel value="Factory - Business unit" style="width:220px; font-size:20px;text-align:center; "/>
                    <p:inputText value="JSS Miskolc" style="width:220px; font-size:20px;text-align:center;background-color: gainsboro" readonly="true"/>

                    <p:outputLabel for="type" value="Task type:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:selectOneMenu id="type" value="#{taskController.task_type_selected}" style="width:220px">
                        <f:selectItem itemLabel="Select task type" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{taskController.datasource_task_type}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="line" value="Production Line:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:selectOneMenu id="line" value="#{taskController.line_selected}" style="width:220px">
                        <f:selectItem itemLabel="Select production line" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{taskController.datasource_line}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="frequency" value="Frequency:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:selectOneMenu id="frequency" value="#{taskController.frequency_selected}" style="width:220px">
                        <f:selectItem itemLabel="Select frequency" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{taskController.datasource_frequency}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="machine_name" value="Machine name:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:selectOneMenu id="machine_name" value="#{taskController.machine_name_selected}" style="width:220px">
                        <!-- <p:ajax listener="#{machineController.onMachineChange}" update="machine_number"/>-->
                        <f:selectItem itemLabel="Select machine name" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{taskController.datasource_machine_name}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="tool_name" value="Tool name:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:selectOneMenu id="tool_name" value="#{taskController.tool_name_selected}" style="width:220px">
                        <f:selectItem itemLabel="Select tool name" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{taskController.datasource_tool_name}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="machine_number" value="Machine number:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:selectOneMenu id="machine_number" value="#{taskController.machine_number_selected}" style="width:220px">
                        <f:selectItem itemLabel="Select machine number" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{taskController.datasource_machine_number}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="tool_number" value="Tool number:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:selectOneMenu id="tool_number" value="#{taskController.tool_number_selected}" style="width:220px">
                        <f:selectItem itemLabel="Select tool number" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{taskController.datasource_tool_number}"/>
                    </p:selectOneMenu>

<!--                    <p:outputLabel for="time" value="Task execution duration:" style="width:220px; font-size:20px;text-align:center"/>-->
<!--                    <p:selectOneMenu id="time" value="#{taskController.time_selected}" style="width:220px">-->
<!--                        <f:selectItem itemLabel="Select task execution duration" itemValue="" noSelectionOption="true"/>-->
<!--                        <f:selectItems value="#{taskController.datasource_time}"/>-->
<!--                    </p:selectOneMenu>-->



                    <p:outputLabel for="tool_name" value="Task ID:" style="width:220px;font-weight:bold;font-size:20px;text-align:center"/>
                    <p:inputText value="#{taskController.datasource_time.get(0)}" style="width:220px; font-weight:bold; font-size:20px;text-align:center;background-color: gainsboro" readonly="#{facesContext.renderResponse}"/>

                    <p:outputLabel value="Current version:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:inputText value="" style="width:220px; font-size:20px;text-align:center;background-color: gainsboro" readonly="#{facesContext.renderResponse}"/>

                    <p:outputLabel value="Creator of task:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:inputText value="" style="width:220px; font-size:20px;text-align:center;background-color: gainsboro" readonly="#{facesContext.renderResponse}"/>

                    <p:outputLabel  value="Creation date:" style="width:220px; font-size:20px;text-align:center"/>
                    <h:inputText id = "dateInput" value = "22-11-2010" label = "Date" style="width: 220px; border:none; font-size:20px;text-align:center;background-color: gainsboro" >
                        <f:convertDateTime pattern = "dd-mm-yyyy" />
                    </h:inputText>

                    <p:outputLabel value="Last editor:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:inputText value="" style="width:220px; font-size:20px;text-align:center;background-color: gainsboro" readonly="#{facesContext.renderResponse}"/>

                    <p:outputLabel  value="Last edit date:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:inputText value="" style="width:220px; font-size:20px;text-align:center;background-color: gainsboro" readonly="#{facesContext.renderResponse}"/>

                    <p:outputLabel for="tool_name" value="Last edit date:" style="width:220px; font-size:20px;text-align:center; visibility: hidden"/>
                    <p:inputText value="#{taskController.datasource_time.get(0)}" style="width:220px; font-size:20px;text-align:center;background-color: gainsboro; visibility: hidden" readonly="#{facesContext.renderResponse}"/>


                    <p:outputLabel for="inline" value="Calendar:" style="width:100px; font-size:20px;text-align:center"/>
                    <p:calendar id="inline" value="calendar" mode="inline"/>

                    <p:outputLabel value="File upload:" style="width:220px; font-size:20px;text-align:center"/>
                    <p:fileUpload listener="#{fileUploadView.handleFileUpload}" mode="advanced" dragDropSupport="true"
                                  update="mess" sizeLimit="100000" fileLimit="5" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                                  validateContentType="true" accept=".gif,.jpg,.jpeg,.png"
                                  onupload="return confirm('Are you sure?')"/>
                    <p:growl id="mess" showDetail="true"/>




                </h:panelGrid>
                    <p:commandButton id="save" icon="fa fa-check" styleClass="crud-buttons"  value="Save"/>
            </h:form>
        </div>

        <h:form id="MainForm" styleClass="menuWithMargin">

            <p:growl id="messages" showDetail="true" showSummary="false"
                     binding="#{usersController.messagesGrowl}"/>
        </h:form>


        <p:dialog modal="true" appendTo="@(body)" closeOnEscape="true"
                  header="#{msgs.task_edit_btn}"
                  widgetVar="editUserWidget" resizable="false"
                  id="CRUD_editUser">
            <p:outputPanel styleClass="panel300"
                           style="text-align:center;"
                           id="editUserPanel">
                <h:form id="editUserForm">

                    <p:panelGrid style="border-spacing:25px!important; width:100%" styleClass="noBorderPanel">

                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_username}: "
                                               for="usernameEdit"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="usernameEdit" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.editUser.username}"
                                                 required="true" requiredMessage="#{msgs.required_username}">

                                        <f:ajax event="blur" render="username2Msj"/>
                                        <p:ajax update="editUserBtn"/>
                                    </p:inputText>
                                    <p:message for="usernameEdit" id="username2Msj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_first_name}: "
                                               for="firstnameEdit"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="firstnameEdit" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.editUser.first_name}"
                                                 required="true" requiredMessage="#{msgs.required_firstname}">
                                        <f:ajax event="blur" render="firstnamed2Msj"/>
                                        <p:ajax update="editUserBtn"/>
                                    </p:inputText>
                                    <p:message for="firstnameEdit" id="firstnamed2Msj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_last_name}: "
                                               for="lastnameEdit"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="lastnameEdit" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.editUser.last_name}"
                                                 required="true" requiredMessage="#{msgs.required_lastname}">
                                        <f:ajax event="blur" render="lastname2Msj"/>
                                    </p:inputText>
                                    <p:message for="lastnameEdit" id="lastname2Msj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                                <p:outputLabel value="#{msgs.header_email}: "
                                               for="emailEdit"/></p:column>
                            <p:column>
                                <div style="display: flex; flex-direction: column">
                                    <p:inputText id="emailEdit" autocomplete="off"
                                                 styleClass="fontSizeStyleCreate fontSizeStyle"
                                                 value="#{usersController.editUser.email}"
                                                 required="false">
                                        <f:ajax event="blur" render="email2Msj"/>

                                    </p:inputText>
                                    <p:message for="emailEdit" id="email2Msj" display="text"/>
                                </div>
                            </p:column>
                        </p:row>
                    </p:panelGrid>

                    <p:commandButton id="editUserBtn"
                                     value="#{msgs.edit_user_btn}"
                                     widgetVar="editUserBtnWidget"
                                     actionListener="#{usersController.updateUser}"
                                     oncomplete="PF('editUserBtnWidget').enable();if (args &amp;&amp; !args.validationFailed) PF('editUserWidget').hide()"
                                     onclick="PF('editUserBtnWidget').disable();"
                                     update=":MainForm :crudMenu editUserBtn"
                                     icon="fa fa-check"/>

                </h:form>
            </p:outputPanel>
        </p:dialog>

    </ui:define>
</ui:composition>

