<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<cc:interface>
	<cc:attribute name="controller" required="true" />
	<cc:attribute name="widgetVar" default="advFilters" />
	<cc:attribute name="icon" default="filter_icon" />
</cc:interface>

<cc:implementation>
	<p:commandButton id="advFiltersButton"
		value="#{cc.attributes.controller.lazyModel.advFilters.filters.size()}"
		oncomplete="PF('#{cc.attributes.widgetVar}').show()"
		icon="fa fa-cogs" styleClass="filter_button" />
		
	<p:tooltip value="#{msgs.Global_AdvFilters}" for="advFiltersButton"
		showEvent="mouseover" hideEvent="mouseout" position="top" />

</cc:implementation>
</html>