<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<cc:interface>
	<cc:attribute name="controller" required="true" />
	<cc:attribute name="tableToFilter" required="true" />
	<cc:attribute name="widgetVar" default="advFilters" />
</cc:interface>

<cc:implementation>
	<p:dialog modal="true" appendTo="@(body)"
		header="#{msgs.Global_AdvFilters}"
		widgetVar="#{cc.attributes.widgetVar}" resizable="false" id="advFilts" width="910">
		<h:form id="filterForm" >
			<p:panel id="filterPanel" >
				<h:panelGrid columns="4" id="filterGrid">
					<h:outputText value="#{msgs.Global_filterColumnName}:" />
					
					<p:selectOneMenu id="selectColumn"
						value="#{cc.attributes.controller.lazyModel.advFilters.clause.column}"
						required="true" converter="omnifaces.SelectItemsConverter">
						<f:selectItems id="selectTabCols"
							value="#{cc.attributes.controller.lazyModel.advFilters.columns}"
							var="col" itemLabel="#{col.getDefault_text()}"
							itemValue="#{col}" />
					</p:selectOneMenu>
 					
					<h:outputText value="#{msgs.Global_filterOper}:" />
					<p:selectOneMenu id="selectOper"
						value="#{cc.attributes.controller.lazyModel.advFilters.clause.operator}"
						required="true">
						<f:selectItems
							value="#{cc.attributes.controller.lazyModel.advFilters.operators}">
						</f:selectItems>
					</p:selectOneMenu>

					<h:outputText value="#{msgs.Global_filterValue}:"
						id="FilterValueLabel" />
					<p:panelGrid columns="2" id="ValuePanel"
						styleClass="panelGridNoBorder" style="width:290px;">
						<p:inputText id="valInput"
							rendered="#{cc.attributes.controller.lazyModel.advFilters.dateSelect == false}"
							value="#{cc.attributes.controller.lazyModel.advFilters.clause.value}"
							required="true" />
						<p:calendar
							rendered="#{cc.attributes.controller.lazyModel.advFilters.dateSelect == true}"
							value="#{cc.attributes.controller.lazyModel.advFilters.clause.value}"
							pattern="dd/MM/yyyy HH:mm" required="true"
							converter="calendarConverter" />
						<p:selectBooleanCheckbox itemLabel="#{msgs.filterDate}" style="width:90px;"
							value="#{cc.attributes.controller.lazyModel.advFilters.dateSelect}">
							<p:ajax update="filterForm:ValuePanel" />
						</p:selectBooleanCheckbox>
					</p:panelGrid>

					<p:commandButton value="#{msgs.Global_filterReset}" type="reset" icon="fa fa-refresh"/>
					<p:commandButton id="button-add" value="#{msgs.Global_filterAdd}"
						action="#{cc.attributes.controller.lazyModel.advFilters.reinit}"
						update="filters @parent @([id$=advFiltersButton])"
						icon="fa fa-check">
						<p:collector
							value="#{cc.attributes.controller.lazyModel.advFilters.clause}"
							addTo="#{cc.attributes.controller.lazyModel.advFilters.filters}" />
					</p:commandButton>
				</h:panelGrid>
			</p:panel>

			<p:outputPanel id="filters">
				<p:dataTable id="filtersTable"
					value="#{cc.attributes.controller.lazyModel.advFilters.filters}"
					var="filter" tableStyle="width:880px" resizableColumns="true">

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msgs.Global_filterColumnName}" />
						</f:facet>
						<h:outputText value="#{filter.column.component_name}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msgs.Global_filterOper}" />
						</f:facet>
						<h:outputText value="#{filter.operator}">
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msgs.Global_filterValue}" />
						</f:facet>
						<h:outputText value="#{filter.value}">
						</h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msgs.Global_filterRemove}" />
						</f:facet>
						<p:commandLink value="#{msgs.Global_filterDel}"
							update="@([id$=filters]) @([id$=advFiltersButton])"
							process="@([id$=filters])">
							<p:collector value="#{filter}"
								removeFrom="#{cc.attributes.controller.lazyModel.advFilters.filters}" />
						</p:commandLink>
					</p:column>
				</p:dataTable>
				<p:commandButton value="#{msgs.Global_filterSubmit}"
					update="#{cc.attributes.tableToFilter}"
					onclick="PF('#{cc.attributes.widgetVar}').hide()" 
					icon="fa fa-check"/>
				<p:commandButton value="#{msgs.Global_filterClose}"
					onclick="PF('#{cc.attributes.widgetVar}').hide()"
					icon="fa fa-long-arrow-left"/>
				<p:commandButton value="#{msgs.Global_filterDelete}"
					actionListener="#{cc.attributes.controller.lazyModel.advFilters.clearFilters}"
					update="@([id$=filters]) @([id$=advFiltersButton])"
					process="@([id$=filters])" 
					icon="fa fa-remove"/>
			</p:outputPanel>
		</h:form>
	</p:dialog>
</cc:implementation>
</html>