<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:os="http://java.sun.com/jsf/composite/utils">

<cc:interface>
	<cc:attribute name="controllerName" required="true" />
</cc:interface>

<cc:implementation>
	<p:commandButton id="export" onclick="PF('ExportWVar').show()"
		icon="fa fa-fw fa-download" styleClass="export_button" />
	<p:tooltip value="#{msgs.Global_btnExportOptions}" for="export"
		showEvent="mouseover" hideEvent="mouseout" position="top" />

	<p:commandButton id="colCustom"
		onclick="PF('ColsCustomizerWVar').show();" icon="fa fa-list-ul"
		styleClass="customize_button" />
	<p:tooltip value="#{msgs.columnsCustomizer}" for="colCustom"
		showEvent="mouseover" hideEvent="mouseout" position="top" />

	<p:commandButton id="compRights" rendered="#{loginController.isLoggedUserAdmin()}"
		onclick="PF('rolesRightsCustomizerWVar').show();" icon="fa fa-gear"
		styleClass="rights_button" />
	<p:tooltip value="#{msgs.componentRights}" for="compRights"
		showEvent="mouseover" hideEvent="mouseout" position="top" />

	<p:commandButton id="clearFilters"
		onclick="PF('dtWidgetVar').clearFilters();" icon="fa fa-filter"
		styleClass="empty_button" />
	<p:tooltip value="#{msgs.Global_filterClearCols}" for="clearFilters"
		showEvent="mouseover" hideEvent="mouseout" position="top" />

	<os:advFilterBtn controller="#{controllerName}" />
	

</cc:implementation>

</html>