<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<cc:interface>
	<cc:attribute name="controller" required="true" />
	<cc:attribute name="messageCompToUpdate" default=":MainForm:messages" />
	<cc:attribute name="widgetVar" default="ColsCustomizerWVar" />
	<cc:attribute name="onMenu" default="false" />
</cc:interface>
<cc:implementation>
	<p:dialog modal="true" appendTo="@(body)" closeOnEscape="true"
		header="#{msgs.msg_ColumnsCustomizer}"
		widgetVar="#{cc.attributes.widgetVar}" resizable="false" styleClass="pickListOverflow"
		id="columnsCostumizer">
			<h:form id="columnsCostumizerForm" >
				<p:pickList
					value="#{cc.attributes.controller.visibilityColumnsList}"
					var="column" effect="none" itemLabel="#{column.default_text}"
					addLabel="Adauga" addAllLabel="Adauga tot" removeLabel="Elimina"
					removeAllLabel="Elimina tot" converter="entityConverter"
					itemValue="#{column}">
					<f:facet name="sourceCaption">#{msgs.hiddenColumnsList}</f:facet>
					<f:facet name="targetCaption">#{msgs.shownColumnsList}</f:facet>
				</p:pickList>
				<p:commandButton value="#{msgs.btn_Save}"
					actionListener="#{cc.attributes.controller.saveColumnsState}"
					action="#{cc.attributes.controller.reloadSessionCustomizeColumns(cc.attributes.onMenu)}"
					update="#{cc.attributes.messageCompToUpdate}" icon="fa fa-check" />
				<!-- <p:commandButton value="Refresh Page"
				action="#{cc.attributes.controller.refresh}" ajax="false" /> -->
			</h:form>
	</p:dialog>
</cc:implementation>
</html>