<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<cc:interface>
	<cc:attribute name="controller" required="true" />
	<cc:attribute name="tableToUpdate" required="true" />
	<cc:attribute name="widgetVar" default="DeleteWVar" />
</cc:interface>

<cc:implementation>
	<p:dialog modal="true" appendTo="@(body)"
				header="#{msgs.CRUD_dlgDelete}" widgetVar="#{cc.attributes.widgetVar}"
				resizable="false" id="CRUD_delete">
				<p:outputPanel id="deletePanel">
					<h:form id="deleteInfo">
						<p:outputLabel value="#{msgs.areYouSure}"></p:outputLabel>
						<h:panelGrid columns="2">
							<p:commandButton value="#{msgs.yes}"
								actionListener="#{cc.attributes.controller.deleteSelectedUser}"
								update="#{cc.attributes.tableToUpdate}"
								oncomplete="PF('DeleteWVar').hide()" 
								icon="fa fa-check"/>
							<p:commandButton value="#{msgs.no}"
								oncomplete="PF('DeleteWVar').hide()"
								icon="fa fa-remove" />
						</h:panelGrid>
					</h:form>
				</p:outputPanel>
			</p:dialog>
</cc:implementation>
</html>