<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<cc:interface>
	<cc:attribute name="controller" required="true" />
	<cc:attribute name="target" default=":MainForm:tasksDataTable" />
	<cc:attribute name="widgetVar" default="ExportWVar" />
</cc:interface>

<cc:implementation>
	<p:dialog modal="true" appendTo="@(body)"
		header="#{msgs.Global_btnExportOptions}"
		widgetVar="#{cc.attributes.widgetVar}" resizable="false"
		id="exportPanel" closable="false">
		<h:form id="exportForm">
			<h:panelGrid columns="2">
				<p:panel header="#{msgs.Global_ExportPageData}">
					<h:commandLink>
						<p:graphicImage library="barcelona-layout" name="images/xls.png" />
						<p:dataExporter type="xls" target="#{cc.attributes.target}"
							fileName="myexcel" pageOnly="true"
							postProcessor="#{cc.attributes.controller.postProcessXLS}" />
					</h:commandLink>
					<!-- <h:commandLink>
						<p:graphicImage library="barcelona-layout" name="images/pdf.png" />
						<p:dataExporter type="pdf" target="#{cc.attributes.target}"
							fileName="mypdf" pageOnly="true"
							preProcessor="#{cc.attributes.controller.preProcessPDF}" />
					</h:commandLink> -->
				</p:panel>
				<p:panel header="#{msgs.Global_ExportAllData}">
					<h:commandLink>
						<p:graphicImage library="barcelona-layout" name="images/xls.png" />
						<p:dataExporter type="xls" target="#{cc.attributes.target}"
							fileName="myexcel"
							postProcessor="#{cc.attributes.controller.postProcessXLS}" />
					</h:commandLink>
					<!-- <h:commandLink>
						<p:graphicImage library="barcelona-layout" name="images/pdf.png" />
						<p:dataExporter type="pdf" target="#{cc.attributes.target}"
							fileName="mypdf"
							preProcessor="#{cc.attributes.controller.preProcessPDF}" />
					</h:commandLink> -->
				</p:panel>
			</h:panelGrid>
			<center>
				<p:commandButton value="#{msgs.done}"
					onclick="PF('ExportWVar').hide();"
					actionListener="#{cc.attributes.controller.hideColumnInfos()}"
					icon="fa fa-remove" />
			</center>
		</h:form>
	</p:dialog>
</cc:implementation>
</html>