<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<cc:interface>
	<cc:attribute name="controller" required="true" />
	<cc:attribute name="tablePath" required="true" />
	<cc:attribute name="panelPath" required="true" default=":selectionForm:selectionPanel"/>
</cc:interface>

<cc:implementation>
	<p:selectBooleanButton id="implicitFilterBtn"
		value="#{cc.attributes.controller.lazyModel.implicitFilterStatus}"
		offLabel="#{msgs.implicitFilterOff}"
		onLabel="#{msgs.implicitFilterOn}" onIcon="on_icon" offIcon="off_icon" 
		styleClass="implicit_button">
		<p:ajax event="change" 
			update="#{cc.attributes.tablePath}  #{cc.attributes.panelPath}" />
	</p:selectBooleanButton>
</cc:implementation>
</html>