<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<cc:interface>
	<cc:attribute name="messageCompToUpdate" default=":form:messages" />
	<cc:attribute name="onMenu" default="true" />
</cc:interface>

<cc:implementation>
	<p:panel header="#{msgs.ComponentRightsCustomizer}"
		widgetVar="menuCustomizerWVar" resizable="false"
		id="menuRightsCustomizer">
		<h:form id="rrCustForm">
		<p:messages id="messages"/>
			<!-- #{msgs.select_role} -->
			<p:panelGrid id="menuRightsCustomizerPanel" columns="2">
				<p:panelGrid columns="1">
					<f:facet name="header">#{msgs.select_role}</f:facet>
					<p:selectOneListbox id="selectRoleList"
						value="#{adminController.menuCustomizer.selectedRole}"
						converter="entityConverter" scrollHeight="300">
						<f:selectItems var="role"
							value="#{adminController.menuCustomizer.roles}"
							itemLabel="#{role.role_description}" itemValue="#{role}" />
						<p:ajax event="change"
							process="@this rrCustForm:rrTabView:rrBtnPicklist"
							update="rrCustForm:rrTabView:rrBtnPicklist"
							listener="#{adminController.menuCustomizer.reinit}" />
					</p:selectOneListbox>
				</p:panelGrid>
				<p:tabView id="rrTabView">
					<p:tab id="btnTab" title="#{msgs.pages}">
						<p:pickList id="rrBtnPicklist"
						 addLabel="Adauga" addAllLabel="Adauga tot" removeLabel="Elimina" removeAllLabel="Elimina tot"
							render="#{adminController.menuCustomizer.selectedRole != null}"
							value="#{adminController.menuCustomizer.buttons}" var="button"
							effect="none" itemLabel="#{button.default_text}"
							converter="entityConverter" itemValue="#{button}">
							<f:facet name="sourceCaption">#{msgs.hiddenPagesList}</f:facet>
							<f:facet name="targetCaption">#{msgs.shownPagesList}</f:facet>
						</p:pickList>
						<center>
							<p:commandButton value="#{msgs.btn_Save}"
								actionListener="#{adminController.menuCustomizer.saveChanges(adminController.menuCustomizer.buttons)}"
								action="#{adminController.reloadSession(cc.attributes.onMenu)}"
								update="#{cc.attributes.messageCompToUpdate}"
								oncomplete="PF('menuCustomizerWVar').hide()" icon="fa fa-check"/>
						</center>
					</p:tab>
				</p:tabView>
			</p:panelGrid>
		</h:form>
	</p:panel>
</cc:implementation>
</html>