<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<cc:interface>
	<cc:attribute name="controller" required="true" />
	<cc:attribute name="messageCompToUpdate" default=":MainForm:messages" />
	<cc:attribute name="widgetVar" default="rolesRightsCustomizerWVar" />
	<cc:attribute name="onMenu" default="false" />
</cc:interface>

<cc:implementation>
	<p:dialog modal="true" appendTo="@(body)"
		header="#{msgs.ComponentRightsCustomizer}"
		widgetVar="#{cc.attributes.widgetVar}" resizable="false"
		id="rolesRightsCustomizer">
		<h:form id="rrCustForm">
			<!-- #{msgs.select_role} -->
			<p:panelGrid id="rolesRightsCustomizerPanel" columns="2">
				<p:panelGrid columns="1">
					<f:facet name="header">#{msgs.select_role}</f:facet>
					<p:selectOneListbox id="selectRoleList"
						value="#{cc.attributes.controller.rolesRightsCustomizer.selectedRole}"
						converter="entityConverter" scrollHeight="200">
						<f:selectItems var="role"
							value="#{cc.attributes.controller.rolesRightsCustomizer.roles}"
							itemLabel="#{role.role_description}" itemValue="#{role}" />
						<p:ajax event="change"
							process="@this rrCustForm:rrTabView:rrColPicklist rrCustForm:rrTabView:rrBtnPicklist"
							update="rrCustForm:rrTabView:rrColPicklist rrCustForm:rrTabView:rrBtnPicklist"
							listener="#{cc.attributes.controller.rolesRightsCustomizer.reinit}" />
					</p:selectOneListbox>
				</p:panelGrid>
				<p:tabView id="rrTabView">
					<p:tab id="colTab" title="#{msgs.title_Col}">
						<p:pickList id="rrColPicklist"
							render="#{cc.attributes.controller.rolesRightsCustomizer.selectedRole != null}"
							value="#{cc.attributes.controller.rolesRightsCustomizer.columns}"
							var="column" effect="none" itemLabel="#{column.default_text}"
							converter="entityConverter" itemValue="#{column}">
							<f:facet name="sourceCaption">#{msgs.hiddenColumnsList}</f:facet>
							<f:facet name="targetCaption">#{msgs.shownColumnsList}</f:facet>
						</p:pickList>
						<center>
							<p:commandButton value="#{msgs.btn_Save}"
								actionListener="#{cc.attributes.controller.rolesRightsCustomizer.saveChanges(cc.attributes.controller.rolesRightsCustomizer.columns)}"
								action="#{cc.attributes.controller.reloadSession(cc.attributes.onMenu)}"
								update="#{cc.attributes.messageCompToUpdate}" icon="fa fa-check" />
						</center>
					</p:tab>

					<p:tab id="btnTab" title="#{msgs.title_Btn}">
						<p:pickList id="rrBtnPicklist"
							render="#{cc.attributes.controller.rolesRightsCustomizer.selectedRole != null}"
							value="#{cc.attributes.controller.rolesRightsCustomizer.buttons}"
							var="button" effect="none"
							itemLabel="${(empty button.default_text ) ? button.component_name : button.default_text}"
							converter="entityConverter" itemValue="#{button}">
							<f:facet name="sourceCaption">#{msgs.hiddenButtonsList}</f:facet>
							<f:facet name="targetCaption">#{msgs.shownButtonsList}</f:facet>
						</p:pickList>
						<center>
							<p:commandButton value="#{msgs.btn_Save}"
								actionListener="#{cc.attributes.controller.rolesRightsCustomizer.saveChanges(cc.attributes.controller.rolesRightsCustomizer.buttons)}"
								action="#{cc.attributes.controller.reloadSession(cc.attributes.onMenu)}"
								update="#{cc.attributes.messageCompToUpdate}" icon="fa fa-check" />
						</center>
					</p:tab>
				</p:tabView>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</cc:implementation>
</html>